## 时间序列

In [1]:
from dateutil.parser import parse

In [2]:
parse('2019-05-27')

datetime.datetime(2019, 5, 27, 0, 0)

In [3]:
parse('Dec 25 2018 1:14 PM')

datetime.datetime(2018, 12, 25, 13, 14)

In [4]:
datestr = ['2018-02-13', '2018-05-12']

In [5]:
import pandas as pd
pd.to_datetime(datestr)

DatetimeIndex(['2018-02-13', '2018-05-12'], dtype='datetime64[ns]', freq=None)

In [6]:
from __future__ import division
from pandas import Series, DataFrame
from numpy.random import randn

import numpy as np
import matplotlib.pyplot as plt

In [7]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 5, 27, 23, 42, 3, 225000)

In [8]:
idx = pd.to_datetime(datestr + [None])
idx

DatetimeIndex(['2018-02-13', '2018-05-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [9]:
idx2 = pd.to_datetime(datestr + [''])
idx2[2]   # NaT  Not a time 是pandas中时间戳的NA值

NaT

In [10]:
pd.isnull(idx)

array([False, False,  True])

In [11]:
dates = [datetime(2019, 1, 2), datetime(2019, 1, 5), datetime(2019, 1, 7),
         datetime(2019, 1, 8), datetime(2019, 1, 10), datetime(2019, 1, 12)]
ts = Series(randn(6), index=dates)
ts

2019-01-02    0.618395
2019-01-05    1.064096
2019-01-07    1.917419
2019-01-08    1.568293
2019-01-10   -1.191001
2019-01-12   -0.823623
dtype: float64

In [12]:
type(ts)

pandas.core.series.Series

In [13]:
ts.index

DatetimeIndex(['2019-01-02', '2019-01-05', '2019-01-07', '2019-01-08',
               '2019-01-10', '2019-01-12'],
              dtype='datetime64[ns]', freq=None)

In [14]:
stamp = ts.index[1]
stamp   #pandas中的Timestamp 对象

Timestamp('2019-01-05 00:00:00')

In [15]:
ts[stamp]

1.064095666992442

In [16]:
ts['2019-01-12']

-0.8236227377272428

In [17]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -1.205905
2000-01-02   -0.073043
2000-01-03    1.148413
2000-01-04    0.630770
2000-01-05   -1.227947
2000-01-06   -0.148891
2000-01-07    1.320493
2000-01-08    0.377254
2000-01-09    1.244696
2000-01-10    1.160538
2000-01-11   -0.461526
2000-01-12   -0.713360
2000-01-13   -0.158074
2000-01-14    0.453432
2000-01-15   -0.987971
2000-01-16   -0.412050
2000-01-17   -0.658680
2000-01-18    1.002159
2000-01-19    1.272314
2000-01-20    0.293194
2000-01-21    1.064337
2000-01-22   -1.563156
2000-01-23    0.771167
2000-01-24   -0.502432
2000-01-25   -0.932826
2000-01-26   -0.170068
2000-01-27   -0.168322
2000-01-28   -0.229749
2000-01-29    1.010909
2000-01-30   -0.845838
                ...
2002-08-28    0.654445
2002-08-29   -1.634271
2002-08-30    0.459269
2002-08-31    0.042370
2002-09-01    1.181245
2002-09-02    1.136041
2002-09-03    1.699698
2002-09-04    0.646647
2002-09-05   -0.658445
2002-09-06   -0.805632
2002-09-07   -0.873759
2002-09-08   -0.860804
2002-09-09   -1.262500
2002-09-10    0.851828
2002-09-11    0.764241
2002-09-12    2.536950
2002-09-13   -0.116576
2002-09-14   -0.287073
2002-09-15    0.200549
2002-09-16    0.322086
2002-09-17    0.902203
2002-09-18    0.257366
2002-09-19   -2.762662
2002-09-20    0.102720
2002-09-21   -1.554407
2002-09-22   -0.968539
2002-09-23    0.243314
2002-09-24   -1.844167
2002-09-25    0.492830
2002-09-26    0.318132
Freq: D, Length: 1000, dtype: float64

In [19]:
longer_ts['2002']

2002-01-01    0.399033
2002-01-02   -0.734469
2002-01-03    0.380611
2002-01-04    0.374892
2002-01-05   -0.533276
2002-01-06   -1.204185
2002-01-07   -0.930337
2002-01-08   -0.411128
2002-01-09   -1.935692
2002-01-10    1.196361
2002-01-11    0.536110
2002-01-12    1.696047
2002-01-13   -0.432934
2002-01-14   -0.161952
2002-01-15    0.573394
2002-01-16   -0.042038
2002-01-17   -0.287087
2002-01-18   -0.455166
2002-01-19   -0.041663
2002-01-20    0.576525
2002-01-21   -0.583852
2002-01-22   -1.048105
2002-01-23    1.307365
2002-01-24   -2.033552
2002-01-25   -0.254958
2002-01-26    1.932355
2002-01-27    1.255120
2002-01-28    0.213130
2002-01-29    0.250098
2002-01-30   -0.780439
                ...
2002-08-28    0.654445
2002-08-29   -1.634271
2002-08-30    0.459269
2002-08-31    0.042370
2002-09-01    1.181245
2002-09-02    1.136041
2002-09-03    1.699698
2002-09-04    0.646647
2002-09-05   -0.658445
2002-09-06   -0.805632
2002-09-07   -0.873759
2002-09-08   -0.860804
2002-09-09   -1.262500
2002-09-10    0.851828
2002-09-11    0.764241
2002-09-12    2.536950
2002-09-13   -0.116576
2002-09-14   -0.287073
2002-09-15    0.200549
2002-09-16    0.322086
2002-09-17    0.902203
2002-09-18    0.257366
2002-09-19   -2.762662
2002-09-20    0.102720
2002-09-21   -1.554407
2002-09-22   -0.968539
2002-09-23    0.243314
2002-09-24   -1.844167
2002-09-25    0.492830
2002-09-26    0.318132
Freq: D, Length: 269, dtype: float64

In [20]:
longer_ts['2001-07']

2001-07-01   -0.197487
2001-07-02    0.726008
2001-07-03   -0.657540
2001-07-04    1.568900
2001-07-05   -0.300424
2001-07-06    0.056707
2001-07-07   -1.954862
2001-07-08   -0.454785
2001-07-09    0.349940
2001-07-10   -0.012210
2001-07-11    0.790061
2001-07-12    0.240496
2001-07-13   -0.699915
2001-07-14    0.097480
2001-07-15    0.310647
2001-07-16   -1.038205
2001-07-17    1.222055
2001-07-18    0.292244
2001-07-19   -0.475086
2001-07-20    1.521187
2001-07-21   -1.816079
2001-07-22   -0.540604
2001-07-23    0.011558
2001-07-24    1.706675
2001-07-25   -0.653582
2001-07-26   -0.614359
2001-07-27    0.042339
2001-07-28    0.636180
2001-07-29   -0.340845
2001-07-30    1.149038
2001-07-31    1.112014
Freq: D, dtype: float64

In [21]:
#进行时间切片，即范围查询
longer_ts['2001-03-08': '2001-03-15']  #产生源时间序列上的视图

2001-03-08    1.081408
2001-03-09   -0.103039
2001-03-10   -0.345954
2001-03-11   -0.054577
2001-03-12   -0.573703
2001-03-13   -0.153652
2001-03-14    0.688790
2001-03-15   -1.698986
Freq: D, dtype: float64

In [22]:
ts.truncate(after='2019-01-08')

2019-01-02    0.618395
2019-01-05    1.064096
2019-01-07    1.917419
2019-01-08    1.568293
dtype: float64

In [25]:
dates = pd.date_range('1/1/2019', periods=100, freq='W-WED')
dates

DatetimeIndex(['2019-01-02', '2019-01-09', '2019-01-16', '2019-01-23',
               '2019-01-30', '2019-02-06', '2019-02-13', '2019-02-20',
               '2019-02-27', '2019-03-06', '2019-03-13', '2019-03-20',
               '2019-03-27', '2019-04-03', '2019-04-10', '2019-04-17',
               '2019-04-24', '2019-05-01', '2019-05-08', '2019-05-15',
               '2019-05-22', '2019-05-29', '2019-06-05', '2019-06-12',
               '2019-06-19', '2019-06-26', '2019-07-03', '2019-07-10',
               '2019-07-17', '2019-07-24', '2019-07-31', '2019-08-07',
               '2019-08-14', '2019-08-21', '2019-08-28', '2019-09-04',
               '2019-09-11', '2019-09-18', '2019-09-25', '2019-10-02',
               '2019-10-09', '2019-10-16', '2019-10-23', '2019-10-30',
               '2019-11-06', '2019-11-13', '2019-11-20', '2019-11-27',
               '2019-12-04', '2019-12-11', '2019-12-18', '2019-12-25',
               '2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25'],
              dtype='datetime64[ns]', freq='W-WED')

In [26]:
long_df = DataFrame(randn(100, 4), index=dates, columns=['Beijing', 'Shanghai', 'Shenzhen', 'Guangzhou'])
long_df

             Beijing  Shanghai  Shenzhen  Guangzhou
2019-01-02  0.366161  0.259044 -1.292713  -0.073182
2019-01-09  0.921325 -0.887932 -1.031782   0.119162
2019-01-16  0.653928 -1.245645 -0.965553   0.189805
2019-01-23  0.487857  0.041204  0.234253   1.503119
2019-01-30  0.051278  0.572856  0.390920  -0.080836
2019-02-06 -0.074376  1.755966  0.142142   0.393471
2019-02-13  0.212952 -0.735569 -1.246138   1.031411
2019-02-20 -0.951231  0.424888 -0.786109  -0.905859
2019-02-27  1.440930  0.557934 -1.855027  -0.538571
2019-03-06 -0.312860 -0.933980 -0.340547  -0.078242
2019-03-13 -1.021336 -0.119341  0.788548   0.517449
2019-03-20  0.245447 -0.092203 -1.523633   0.231922
2019-03-27 -1.062454  0.395278  1.160557  -0.174364
2019-04-03  0.520168  0.673941  1.555104  -1.205033
2019-04-10  0.666223  0.411027  0.827279  -0.449767
2019-04-17 -0.089491  0.081142 -1.091778  -0.831716
2019-04-24 -0.151962 -0.445647 -0.328121  -1.153729
2019-05-01 -0.072506 -0.785380  1.743848  -1.032034
2019-05-08  0.632848 -0.315161 -0.806137   0.013612
2019-05-15  0.466996  0.591846  1.035523   0.688974
2019-05-22  0.528522  0.292280  1.588542   0.901905
2019-05-29  0.284547 -0.570995 -0.757778   0.357679
2019-06-05 -1.589970  1.197638 -2.410190   1.780610
2019-06-12 -0.534531 -0.730189 -0.101938   0.127330
2019-06-19 -2.035360  1.523053  0.387212   4.391941
2019-06-26  1.469019  1.353425  0.313201  -0.288501
2019-07-03 -0.106320 -0.370308 -0.649076   1.481004
2019-07-10  1.201036 -1.610388 -1.128852   0.432502
2019-07-17  1.208951  1.099706  0.767191   1.042160
2019-07-24  0.733111  1.957952 -0.360413  -1.674030
...              ...       ...       ...        ...
2020-05-06 -0.903086 -0.805872  1.282001   1.350545
2020-05-13 -0.172157 -0.436520 -1.654553  -0.268871
2020-05-20  2.443604 -1.516082  0.402572   0.620376
2020-05-27  0.800185 -1.128612 -0.975927   0.133884
2020-06-03  0.207545 -0.363108  0.905739  -0.136270
2020-06-10  1.707717 -0.924165  0.294135  -1.172272
2020-06-17  1.248216  0.568004  0.704223  -1.501221
2020-06-24  0.543014  0.554075  1.299420  -1.444634
2020-07-01 -0.524203  0.543553  1.673653   0.499977
2020-07-08  0.833974 -3.064899  0.031582  -0.032902
2020-07-15  1.732851  1.726670  0.922022  -0.825639
2020-07-22  1.525151  1.062629 -1.081740   0.804611
2020-07-29 -0.627742 -0.310003 -1.506420  -0.217436
2020-08-05  2.103661 -1.294482  0.241016  -1.559249
2020-08-12 -0.658332 -0.021091 -0.067787   1.133669
2020-08-19  1.299258 -1.002972  0.031510  -0.911361
2020-08-26  1.301658 -1.402978 -0.355030   0.084394
2020-09-02  0.641513  2.159090 -0.047498  -1.662601
2020-09-09  0.219632  1.722440  0.591291   1.168153
2020-09-16 -1.487460  1.059539 -2.254877  -1.678689
2020-09-23 -0.911402 -0.647737  1.481903  -0.244165
2020-09-30  0.003896 -2.474305 -0.111295  -0.854974
2020-10-07  1.067201 -0.820839 -1.720990  -0.037431
2020-10-14 -1.604638 -0.292018 -0.285595   1.623564
2020-10-21 -0.728783  0.588433  0.241399  -1.649584
2020-10-28  0.018118  0.024533 -0.611131  -0.134041
2020-11-04 -1.700997 -0.190286  0.203491   0.576030
2020-11-11 -1.401668 -0.742443  0.768088  -1.382360
2020-11-18  0.133625 -1.277108  0.729354   2.250900
2020-11-25 -0.794559  1.611595  0.371692  -0.322283

[100 rows x 4 columns]

###  带有重复索引的时间序列

In [27]:
dates = pd.DatetimeIndex(['1/1/2019', '1/2/2019', '1/2/2019', '1/2/2019',
                          '1/3/2019'])
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2019-01-01    0
2019-01-02    1
2019-01-02    2
2019-01-02    3
2019-01-03    4
dtype: int32

In [29]:
dup_ts.index.is_unique

False

In [30]:
grouped = dup_ts.groupby(level=0)    #level=0 索引的唯一一层
grouped

In [31]:
grouped.mean()

2019-01-01    0
2019-01-02    2
2019-01-03    4
dtype: int32

In [32]:
grouped.count()

2019-01-01    1
2019-01-02    3
2019-01-03    1
dtype: int64

In [33]:
dup_ts['1/2/2019']

2019-01-02    1
2019-01-02    2
2019-01-02    3
dtype: int32

In [34]:
dup_ts['1/1/2019']

0

### 日期的范围、频率以及移动

In [35]:
ts.resample('D')  # D 代表 Day

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [36]:
ts

2019-01-02    0.618395
2019-01-05    1.064096
2019-01-07    1.917419
2019-01-08    1.568293
2019-01-10   -1.191001
2019-01-12   -0.823623
dtype: float64

In [37]:
index = pd.date_range('4/1/2018', '6/1/2018')
index

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02',
               '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06',
               '2018-05-07', '2018-05-08', '2018-05-09', '2018-05-10',
               '2018-05-11', '2018-05-12', '2018-05-13', '2018-05-14',
               '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18',
               '2018-05-19', '2018-05-20', '2018-05-21', '2018-05-22',
               '2018-05-23', '2018-05-24', '2018-05-25', '2018-05-26',
               '2018-05-27', '2018-05-28', '2018-05-29', '2018-05-30',
               '2018-05-31', '2018-06-01'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start='4/1/2019', periods=20)

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08',
               '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
               '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16',
               '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(end='6/1/2019', periods=20)

DatetimeIndex(['2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16',
               '2019-05-17', '2019-05-18', '2019-05-19', '2019-05-20',
               '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24',
               '2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(end='12/1/2019', periods=10, freq='M')

DatetimeIndex(['2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31',
               '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30',
               '2019-10-31', '2019-11-30'],
              dtype='datetime64[ns]', freq='M')

In [43]:
pd.date_range(start='1/1/2019', end='12/31/2019', freq='BM')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30',
               '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30',
               '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [44]:
pd.date_range('5/2/2019 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
               '2019-05-06'],
              dtype='datetime64[ns]', freq='D')

###  频率和日期偏移量

In [45]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [46]:
two_hour = Hour(2)
two_hour

In [47]:
Hour(2) + Minute(30)

In [48]:
pd.date_range('5/1/2019', '5/4/2000 23:59', freq='6h')

DatetimeIndex([], dtype='datetime64[ns]', freq='6H')

In [49]:
dti = pd.date_range('5/1/2019', '5/4/2000 23:59', freq='6h')
dti

DatetimeIndex([], dtype='datetime64[ns]', freq='6H')

In [50]:
pd.date_range('1/1/2019', periods=10, freq='1h30min')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:30:00',
               '2019-01-01 03:00:00', '2019-01-01 04:30:00',
               '2019-01-01 06:00:00', '2019-01-01 07:30:00',
               '2019-01-01 09:00:00', '2019-01-01 10:30:00',
               '2019-01-01 12:00:00', '2019-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [51]:
pd.date_range('5/1/2019', '5/31/2019', freq='B')

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06',
               '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
               '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16',
               '2019-05-17', '2019-05-20', '2019-05-21', '2019-05-22',
               '2019-05-23', '2019-05-24', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31'],
              dtype='datetime64[ns]', freq='B')

In [52]:
rng = pd.date_range('1/1/2019', '9/1/2019', freq='WOM-3FRI')  #每月的第三个星期五
list(rng)

[Timestamp('2019-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-08-16 00:00:00', freq='WOM-3FRI')]

In [53]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2019', periods=4, freq='M'))
ts

2019-01-31    1.687804
2019-02-28   -1.083641
2019-03-31   -0.786254
2019-04-30    1.247041
Freq: M, dtype: float64

In [54]:
ts.shift(2)

2019-01-31         NaN
2019-02-28         NaN
2019-03-31    1.687804
2019-04-30   -1.083641
Freq: M, dtype: float64

In [55]:
ts.shift(-2)

2019-01-31   -0.786254
2019-02-28    1.247041
2019-03-31         NaN
2019-04-30         NaN
Freq: M, dtype: float64

In [56]:
ts / ts.shift(1) - 1

2019-01-31         NaN
2019-02-28   -1.642042
2019-03-31   -0.274433
2019-04-30   -2.586054
Freq: M, dtype: float64

In [57]:
ts.shift(2, freq='M')

2019-03-31    1.687804
2019-04-30   -1.083641
2019-05-31   -0.786254
2019-06-30    1.247041
Freq: M, dtype: float64

In [58]:
ts

2019-01-31    1.687804
2019-02-28   -1.083641
2019-03-31   -0.786254
2019-04-30    1.247041
Freq: M, dtype: float64

In [59]:
ts.shift(3, freq='Y')

2021-12-31    1.687804
2021-12-31   -1.083641
2021-12-31   -0.786254
2021-12-31    1.247041
Freq: M, dtype: float64

In [60]:
ts.shift(3, freq='D')

2019-02-03    1.687804
2019-03-03   -1.083641
2019-04-03   -0.786254
2019-05-03    1.247041
dtype: float64

In [61]:
ts.shift(3, freq='3D')    # 3个3D 就是 9 Days

2019-02-09    1.687804
2019-03-09   -1.083641
2019-04-09   -0.786254
2019-05-09    1.247041
dtype: float64

In [62]:
ts.shift(2, freq='90T')    # 180 mins

2019-01-31 03:00:00    1.687804
2019-02-28 03:00:00   -1.083641
2019-03-31 03:00:00   -0.786254
2019-04-30 03:00:00    1.247041
Freq: M, dtype: float64

In [64]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime.now()
now + 3 * Day()

Timestamp('2019-05-31 01:07:14.908000')

In [65]:
now + MonthEnd()

Timestamp('2019-05-31 01:07:14.908000')

In [71]:
now = datetime(2019,4,1)
now

datetime.datetime(2019, 4, 1, 0, 0)

In [72]:
now + MonthEnd(2)

Timestamp('2019-05-31 00:00:00')

In [73]:
offset = MonthEnd()
offset

In [75]:
offset.rollforward(now)   #向前滚

Timestamp('2019-04-30 00:00:00')

In [76]:
offset.rollback(now)

Timestamp('2019-03-31 00:00:00')

In [77]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [78]:
ts

2000-01-15    0.325583
2000-01-19    1.832416
2000-01-23    1.083174
2000-01-27   -0.956432
2000-01-31   -0.269004
2000-02-04    2.595934
2000-02-08    2.455199
2000-02-12   -0.591694
2000-02-16    1.237033
2000-02-20   -0.249757
2000-02-24   -1.694539
2000-02-28    0.141185
2000-03-03   -0.204941
2000-03-07   -0.854305
2000-03-11   -1.273055
2000-03-15   -1.451891
2000-03-19   -0.660022
2000-03-23   -0.002431
2000-03-27    0.469836
2000-03-31    0.959660
Freq: 4D, dtype: float64

In [79]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.403147
2000-02-29    0.556194
2000-03-31   -0.377144
dtype: float64

In [80]:
ts.resample('M', how='mean')

D:\Anaconda\folder\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2000-01-31    0.403147
2000-02-29    0.556194
2000-03-31   -0.377144
Freq: M, dtype: float64

### 时区处理

In [81]:
import pytz

In [82]:
pytz.common_timezones[:8]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul']

In [87]:
[x for x in pytz.common_timezones if x.find('Shanghai') != -1]

['Asia/Shanghai']

In [88]:
tz = pytz.timezone('Asia/Shanghai')
tz

In [89]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)

In [90]:
print ts.index.tz

None

In [91]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')
ts_utc = ts.tz_localize('UTC')     #时间序列本地化为某个具体的时区
ts_utc

2012-03-09 09:30:00+00:00    1.216274
2012-03-10 09:30:00+00:00    0.155059
2012-03-11 09:30:00+00:00    1.276650
2012-03-12 09:30:00+00:00   -0.094457
2012-03-13 09:30:00+00:00   -0.227161
2012-03-14 09:30:00+00:00    0.843731
Freq: D, dtype: float64

In [93]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [94]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00    1.216274
2012-03-10 04:30:00-05:00    0.155059
2012-03-11 05:30:00-04:00    1.276650
2012-03-12 05:30:00-04:00   -0.094457
2012-03-13 05:30:00-04:00   -0.227161
2012-03-14 05:30:00-04:00    0.843731
Freq: D, dtype: float64

In [95]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.216274
2012-03-10 14:30:00+00:00    0.155059
2012-03-11 13:30:00+00:00    1.276650
2012-03-12 13:30:00+00:00   -0.094457
2012-03-13 13:30:00+00:00   -0.227161
2012-03-14 13:30:00+00:00    0.843731
Freq: D, dtype: float64

In [96]:
ts_eastern.tz_convert('Asia/Shanghai')              #美国东部时间转为上海时间

2012-03-09 22:30:00+08:00    1.216274
2012-03-10 22:30:00+08:00    0.155059
2012-03-11 21:30:00+08:00    1.276650
2012-03-12 21:30:00+08:00   -0.094457
2012-03-13 21:30:00+08:00   -0.227161
2012-03-14 21:30:00+08:00    0.843731
Freq: D, dtype: float64

In [97]:
ts_eastern.index

DatetimeIndex(['2012-03-09 09:30:00-05:00', '2012-03-10 09:30:00-05:00',
               '2012-03-11 09:30:00-04:00', '2012-03-12 09:30:00-04:00',
               '2012-03-13 09:30:00-04:00', '2012-03-14 09:30:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [99]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')