## 时间序列

In [1]:
from dateutil.parser import parse

In [2]:
parse('2019-05-27')

datetime.datetime(2019, 5, 27, 0, 0)

In [3]:
parse('Dec 25 2018 1:14 PM')

datetime.datetime(2018, 12, 25, 13, 14)

In [4]:
datestr = ['2018-02-13', '2018-05-12']

In [5]:
import pandas as pd
pd.to_datetime(datestr)

DatetimeIndex(['2018-02-13', '2018-05-12'], dtype='datetime64[ns]', freq=None)

In [6]:
from __future__ import division
from pandas import Series, DataFrame
from numpy.random import randn

import numpy as np
import matplotlib.pyplot as plt

In [7]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 5, 30, 23, 30, 4, 992000)

In [8]:
idx = pd.to_datetime(datestr + [None])
idx

DatetimeIndex(['2018-02-13', '2018-05-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [9]:
idx2 = pd.to_datetime(datestr + [''])
idx2[2]   # NaT  Not a time 是pandas中时间戳的NA值

NaT

In [10]:
pd.isnull(idx)

array([False, False,  True])

In [11]:
dates = [datetime(2019, 1, 2), datetime(2019, 1, 5), datetime(2019, 1, 7),
         datetime(2019, 1, 8), datetime(2019, 1, 10), datetime(2019, 1, 12)]
ts = Series(randn(6), index=dates)
ts

2019-01-02   -0.873223
2019-01-05    0.434388
2019-01-07   -0.231984
2019-01-08    0.940241
2019-01-10   -0.207430
2019-01-12   -1.723005
dtype: float64

In [12]:
type(ts)

pandas.core.series.Series

In [13]:
ts.index

DatetimeIndex(['2019-01-02', '2019-01-05', '2019-01-07', '2019-01-08',
               '2019-01-10', '2019-01-12'],
              dtype='datetime64[ns]', freq=None)

In [14]:
stamp = ts.index[1]
stamp   #pandas中的Timestamp 对象

Timestamp('2019-01-05 00:00:00')

In [15]:
ts[stamp]

0.4343878821250231

In [16]:
ts['2019-01-12']

-1.723004678320515

In [17]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    1.561990
2000-01-02    0.059097
2000-01-03    0.767168
2000-01-04   -0.919062
2000-01-05    1.321115
2000-01-06    1.781629
2000-01-07    1.597826
2000-01-08    2.814641
2000-01-09   -0.010243
2000-01-10    0.505717
2000-01-11    0.044891
2000-01-12    0.187406
2000-01-13   -0.615171
2000-01-14    0.017233
2000-01-15   -1.248399
2000-01-16   -1.049976
2000-01-17   -0.411023
2000-01-18    1.178164
2000-01-19   -1.009672
2000-01-20    0.599098
2000-01-21    0.310823
2000-01-22    1.353289
2000-01-23    1.084670
2000-01-24    0.628985
2000-01-25   -0.349184
2000-01-26   -0.398999
2000-01-27   -0.779660
2000-01-28   -1.753959
2000-01-29   -0.407458
2000-01-30   -0.589969
                ...
2002-08-28    1.355813
2002-08-29   -1.546627
2002-08-30    0.888925
2002-08-31   -1.167616
2002-09-01   -0.703960
2002-09-02    0.739437
2002-09-03    0.154395
2002-09-04   -0.451677
2002-09-05    2.393242
2002-09-06    0.624411
2002-09-07    1.643521
2002-09-08    1.108085
2002-09-09   -0.001469
2002-09-10    0.762765
2002-09-11   -0.320134
2002-09-12   -0.531820
2002-09-13   -0.740963
2002-09-14   -0.747295
2002-09-15   -1.030078
2002-09-16    1.064009
2002-09-17    0.367504
2002-09-18   -0.651199
2002-09-19   -0.595038
2002-09-20    0.544316
2002-09-21   -0.438838
2002-09-22   -0.173088
2002-09-23    0.565360
2002-09-24   -0.207868
2002-09-25   -0.382896
2002-09-26    0.351012
Freq: D, Length: 1000, dtype: float64

In [18]:
longer_ts['2002']

2002-01-01   -0.848145
2002-01-02   -0.446483
2002-01-03    0.005768
2002-01-04   -0.071410
2002-01-05    0.631559
2002-01-06    0.290481
2002-01-07   -0.742592
2002-01-08    0.252102
2002-01-09    0.212497
2002-01-10    1.714284
2002-01-11   -0.325546
2002-01-12   -1.464168
2002-01-13    0.182655
2002-01-14    1.157222
2002-01-15    0.104242
2002-01-16    0.594407
2002-01-17    0.702459
2002-01-18    0.347438
2002-01-19    0.733371
2002-01-20    1.255691
2002-01-21   -0.203364
2002-01-22   -0.972305
2002-01-23    0.330768
2002-01-24   -0.266027
2002-01-25    1.107166
2002-01-26    1.739825
2002-01-27   -0.273642
2002-01-28   -0.048562
2002-01-29   -1.038577
2002-01-30   -1.853806
                ...
2002-08-28    1.355813
2002-08-29   -1.546627
2002-08-30    0.888925
2002-08-31   -1.167616
2002-09-01   -0.703960
2002-09-02    0.739437
2002-09-03    0.154395
2002-09-04   -0.451677
2002-09-05    2.393242
2002-09-06    0.624411
2002-09-07    1.643521
2002-09-08    1.108085
2002-09-09   -0.001469
2002-09-10    0.762765
2002-09-11   -0.320134
2002-09-12   -0.531820
2002-09-13   -0.740963
2002-09-14   -0.747295
2002-09-15   -1.030078
2002-09-16    1.064009
2002-09-17    0.367504
2002-09-18   -0.651199
2002-09-19   -0.595038
2002-09-20    0.544316
2002-09-21   -0.438838
2002-09-22   -0.173088
2002-09-23    0.565360
2002-09-24   -0.207868
2002-09-25   -0.382896
2002-09-26    0.351012
Freq: D, Length: 269, dtype: float64

In [19]:
longer_ts['2001-07']

2001-07-01   -0.903702
2001-07-02   -0.082525
2001-07-03   -0.673189
2001-07-04    0.749171
2001-07-05    0.172263
2001-07-06   -0.313299
2001-07-07   -0.485277
2001-07-08   -0.700553
2001-07-09    1.309808
2001-07-10    1.668723
2001-07-11    0.413728
2001-07-12   -0.720421
2001-07-13    1.348420
2001-07-14   -1.359780
2001-07-15   -1.880836
2001-07-16    0.908744
2001-07-17    1.185902
2001-07-18    0.162489
2001-07-19   -0.732310
2001-07-20    2.634774
2001-07-21    0.604881
2001-07-22    0.321066
2001-07-23   -0.720126
2001-07-24    0.466382
2001-07-25   -2.279888
2001-07-26   -0.552195
2001-07-27    1.055377
2001-07-28   -0.064727
2001-07-29    0.482629
2001-07-30   -1.823864
2001-07-31   -1.075853
Freq: D, dtype: float64

In [20]:
#进行时间切片，即范围查询
longer_ts['2001-03-08': '2001-03-15']  #产生源时间序列上的视图

2001-03-08    1.924278
2001-03-09    0.716215
2001-03-10    1.084096
2001-03-11    1.235628
2001-03-12   -0.255920
2001-03-13    2.481160
2001-03-14   -0.671970
2001-03-15    1.722372
Freq: D, dtype: float64

In [21]:
ts.truncate(after='2019-01-08')

2019-01-02   -0.873223
2019-01-05    0.434388
2019-01-07   -0.231984
2019-01-08    0.940241
dtype: float64

In [22]:
dates = pd.date_range('1/1/2019', periods=100, freq='W-WED')
dates

DatetimeIndex(['2019-01-02', '2019-01-09', '2019-01-16', '2019-01-23',
               '2019-01-30', '2019-02-06', '2019-02-13', '2019-02-20',
               '2019-02-27', '2019-03-06', '2019-03-13', '2019-03-20',
               '2019-03-27', '2019-04-03', '2019-04-10', '2019-04-17',
               '2019-04-24', '2019-05-01', '2019-05-08', '2019-05-15',
               '2019-05-22', '2019-05-29', '2019-06-05', '2019-06-12',
               '2019-06-19', '2019-06-26', '2019-07-03', '2019-07-10',
               '2019-07-17', '2019-07-24', '2019-07-31', '2019-08-07',
               '2019-08-14', '2019-08-21', '2019-08-28', '2019-09-04',
               '2019-09-11', '2019-09-18', '2019-09-25', '2019-10-02',
               '2019-10-09', '2019-10-16', '2019-10-23', '2019-10-30',
               '2019-11-06', '2019-11-13', '2019-11-20', '2019-11-27',
               '2019-12-04', '2019-12-11', '2019-12-18', '2019-12-25',
               '2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25'],
              dtype='datetime64[ns]', freq='W-WED')

In [23]:
long_df = DataFrame(randn(100, 4), index=dates, columns=['Beijing', 'Shanghai', 'Shenzhen', 'Guangzhou'])
long_df

             Beijing  Shanghai  Shenzhen  Guangzhou
2019-01-02  0.626999  0.280183 -0.910708   0.170741
2019-01-09  0.688222 -0.133605 -0.535576   1.404578
2019-01-16 -0.094130 -0.549350 -0.568273   1.004254
2019-01-23  1.078629  0.806681 -0.083429  -1.111711
2019-01-30 -0.905523  0.261817  0.529717   1.651645
2019-02-06  0.062264  0.054867 -0.748943   1.280813
2019-02-13 -0.555630  0.285242 -1.109870   0.121346
2019-02-20 -0.711021  0.244804  0.364827   0.675887
2019-02-27 -0.485215 -0.995057  0.513440   0.963627
2019-03-06 -1.666763 -0.024439  0.995767  -0.927976
2019-03-13  0.578251 -2.057032  1.937185   1.017113
2019-03-20  0.277789 -0.630317  0.374246   0.989585
2019-03-27  0.706174 -0.288957 -0.913688   1.136938
2019-04-03 -0.329807  0.539722  0.392759  -0.595206
2019-04-10 -0.207938  0.961997 -0.273181   1.623683
2019-04-17 -1.566066  2.058585  0.718173   0.432519
2019-04-24  1.324793 -0.887003 -0.277714   0.727954
2019-05-01 -0.106037  1.126045 -0.444989  -0.596259
2019-05-08  0.695396  1.734655  0.524474  -0.092441
2019-05-15 -0.121358  0.634632 -1.379373   0.968753
2019-05-22 -0.363247  0.861077  1.017635  -0.432357
2019-05-29 -0.524091 -0.312213 -0.773150  -1.340053
2019-06-05 -1.486615  0.491508  0.275826   1.482445
2019-06-12  0.439059 -1.872335  0.450373  -0.144945
2019-06-19 -0.345858 -0.720548  1.120587  -0.117045
2019-06-26  0.174021 -0.527821  0.012434  -1.249888
2019-07-03  1.578919  1.083030  0.686038   1.502239
2019-07-10  1.731133  0.386119 -0.698241   1.025997
2019-07-17  1.734347  0.282768 -0.450794  -0.835366
2019-07-24  1.004030 -1.213747  0.203894  -0.666611
...              ...       ...       ...        ...
2020-05-06  0.804632  1.337101  0.811057   0.174268
2020-05-13 -1.524409 -0.523711  0.846355  -1.412538
2020-05-20 -1.301299 -1.131685  0.087749  -0.383052
2020-05-27 -0.450974 -0.231309 -0.948532   0.602249
2020-06-03 -0.357071  1.693832 -0.210501   0.372289
2020-06-10  0.582284 -1.672785 -0.138238  -0.298974
2020-06-17 -2.275656  0.607195  0.162136  -1.505275
2020-06-24  0.779535 -0.685318  1.367007   0.809628
2020-07-01  0.820563 -0.272382  0.904505   0.299032
2020-07-08 -0.283032  0.017338 -2.015933   0.837098
2020-07-15  1.998475 -1.046192 -0.171068   0.166384
2020-07-22  2.316094 -0.053886 -0.019854   1.319493
2020-07-29  0.102253 -1.094532  0.229202   1.207661
2020-08-05  1.105704  0.264058  0.812162  -1.740186
2020-08-12  1.377874  0.216502 -0.040691  -0.125042
2020-08-19  0.458314 -0.381022 -3.283657  -1.067667
2020-08-26  0.668913 -0.417586  0.362063   0.520782
2020-09-02  1.343642  1.036020 -0.385709   1.229696
2020-09-09 -2.361844  0.335959 -0.821622  -1.063016
2020-09-16 -1.522331 -1.244137 -0.583524   0.177405
2020-09-23  0.510573  0.255371 -0.066116   1.411744
2020-09-30  0.242233 -0.454034  0.556520   2.356676
2020-10-07 -0.502780 -0.562732  0.853570  -0.544713
2020-10-14  1.973961 -0.464053  1.408033  -0.075206
2020-10-21 -1.406181 -0.086917 -1.823569   0.425539
2020-10-28 -0.449422  1.547426 -1.676157   0.464884
2020-11-04  0.328700  1.103695  0.961302   0.383390
2020-11-11 -0.191606 -1.207313 -0.164530  -0.988057
2020-11-18  0.538728 -0.606867 -2.020926   0.048340
2020-11-25  0.539091  0.590871 -0.577846  -0.285651

[100 rows x 4 columns]

###  带有重复索引的时间序列

In [24]:
dates = pd.DatetimeIndex(['1/1/2019', '1/2/2019', '1/2/2019', '1/2/2019',
                          '1/3/2019'])
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2019-01-01    0
2019-01-02    1
2019-01-02    2
2019-01-02    3
2019-01-03    4
dtype: int32

In [25]:
dup_ts.index.is_unique

False

In [26]:
grouped = dup_ts.groupby(level=0)    #level=0 索引的唯一一层
grouped

In [27]:
grouped.mean()

2019-01-01    0
2019-01-02    2
2019-01-03    4
dtype: int32

In [28]:
grouped.count()

2019-01-01    1
2019-01-02    3
2019-01-03    1
dtype: int64

In [29]:
dup_ts['1/2/2019']

2019-01-02    1
2019-01-02    2
2019-01-02    3
dtype: int32

In [30]:
dup_ts['1/1/2019']

0

### 日期的范围、频率以及移动

In [31]:
ts.resample('D')  # D 代表 Day

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [32]:
ts

2019-01-02   -0.873223
2019-01-05    0.434388
2019-01-07   -0.231984
2019-01-08    0.940241
2019-01-10   -0.207430
2019-01-12   -1.723005
dtype: float64

In [33]:
index = pd.date_range('4/1/2018', '6/1/2018')
index

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02',
               '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06',
               '2018-05-07', '2018-05-08', '2018-05-09', '2018-05-10',
               '2018-05-11', '2018-05-12', '2018-05-13', '2018-05-14',
               '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18',
               '2018-05-19', '2018-05-20', '2018-05-21', '2018-05-22',
               '2018-05-23', '2018-05-24', '2018-05-25', '2018-05-26',
               '2018-05-27', '2018-05-28', '2018-05-29', '2018-05-30',
               '2018-05-31', '2018-06-01'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range(start='4/1/2019', periods=20)

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08',
               '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
               '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16',
               '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range(end='6/1/2019', periods=20)

DatetimeIndex(['2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16',
               '2019-05-17', '2019-05-18', '2019-05-19', '2019-05-20',
               '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24',
               '2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01'],
              dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range(end='12/1/2019', periods=10, freq='M')

DatetimeIndex(['2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31',
               '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30',
               '2019-10-31', '2019-11-30'],
              dtype='datetime64[ns]', freq='M')

In [37]:
pd.date_range(start='1/1/2019', end='12/31/2019', freq='BM')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30',
               '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30',
               '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [38]:
pd.date_range('5/2/2019 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
               '2019-05-06'],
              dtype='datetime64[ns]', freq='D')

###  频率和日期偏移量

In [39]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [40]:
two_hour = Hour(2)
two_hour

In [41]:
Hour(2) + Minute(30)

In [42]:
pd.date_range('5/1/2019', '5/4/2000 23:59', freq='6h')

DatetimeIndex([], dtype='datetime64[ns]', freq='6H')

In [43]:
dti = pd.date_range('5/1/2019', '5/4/2000 23:59', freq='6h')
dti

DatetimeIndex([], dtype='datetime64[ns]', freq='6H')

In [44]:
pd.date_range('1/1/2019', periods=10, freq='1h30min')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:30:00',
               '2019-01-01 03:00:00', '2019-01-01 04:30:00',
               '2019-01-01 06:00:00', '2019-01-01 07:30:00',
               '2019-01-01 09:00:00', '2019-01-01 10:30:00',
               '2019-01-01 12:00:00', '2019-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [45]:
pd.date_range('5/1/2019', '5/31/2019', freq='B')

DatetimeIndex(['2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06',
               '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10',
               '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16',
               '2019-05-17', '2019-05-20', '2019-05-21', '2019-05-22',
               '2019-05-23', '2019-05-24', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31'],
              dtype='datetime64[ns]', freq='B')

In [46]:
rng = pd.date_range('1/1/2019', '9/1/2019', freq='WOM-3FRI')  #每月的第三个星期五
list(rng)

[Timestamp('2019-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-07-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-08-16 00:00:00', freq='WOM-3FRI')]

In [47]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2019', periods=4, freq='M'))
ts

2019-01-31    0.099147
2019-02-28   -1.053485
2019-03-31    0.664382
2019-04-30   -1.447743
Freq: M, dtype: float64

In [48]:
ts.shift(2)

2019-01-31         NaN
2019-02-28         NaN
2019-03-31    0.099147
2019-04-30   -1.053485
Freq: M, dtype: float64

In [49]:
ts.shift(-2)

2019-01-31    0.664382
2019-02-28   -1.447743
2019-03-31         NaN
2019-04-30         NaN
Freq: M, dtype: float64

In [50]:
ts / ts.shift(1) - 1

2019-01-31          NaN
2019-02-28   -11.625531
2019-03-31    -1.630651
2019-04-30    -3.179084
Freq: M, dtype: float64

In [51]:
ts.shift(2, freq='M')

2019-03-31    0.099147
2019-04-30   -1.053485
2019-05-31    0.664382
2019-06-30   -1.447743
Freq: M, dtype: float64

In [52]:
ts

2019-01-31    0.099147
2019-02-28   -1.053485
2019-03-31    0.664382
2019-04-30   -1.447743
Freq: M, dtype: float64

In [53]:
ts.shift(3, freq='Y')

2021-12-31    0.099147
2021-12-31   -1.053485
2021-12-31    0.664382
2021-12-31   -1.447743
Freq: M, dtype: float64

In [54]:
ts.shift(3, freq='D')

2019-02-03    0.099147
2019-03-03   -1.053485
2019-04-03    0.664382
2019-05-03   -1.447743
dtype: float64

In [55]:
ts.shift(3, freq='3D')    # 3个3D 就是 9 Days

2019-02-09    0.099147
2019-03-09   -1.053485
2019-04-09    0.664382
2019-05-09   -1.447743
dtype: float64

In [56]:
ts.shift(2, freq='90T')    # 180 mins

2019-01-31 03:00:00    0.099147
2019-02-28 03:00:00   -1.053485
2019-03-31 03:00:00    0.664382
2019-04-30 03:00:00   -1.447743
Freq: M, dtype: float64

In [57]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime.now()
now + 3 * Day()

Timestamp('2019-06-02 23:30:22.268000')

In [58]:
now + MonthEnd()

Timestamp('2019-05-31 23:30:22.268000')

In [59]:
now = datetime(2019,4,1)
now

datetime.datetime(2019, 4, 1, 0, 0)

In [60]:
now + MonthEnd(2)

Timestamp('2019-05-31 00:00:00')

In [61]:
offset = MonthEnd()
offset

In [62]:
offset.rollforward(now)   #向前滚

Timestamp('2019-04-30 00:00:00')

In [63]:
offset.rollback(now)

Timestamp('2019-03-31 00:00:00')

In [64]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [65]:
ts

2000-01-15   -0.607357
2000-01-19   -0.294873
2000-01-23   -0.193852
2000-01-27    0.170909
2000-01-31   -0.600833
2000-02-04   -1.453091
2000-02-08   -0.774398
2000-02-12    1.033337
2000-02-16    0.163683
2000-02-20    0.918250
2000-02-24   -2.144517
2000-02-28    0.530918
2000-03-03   -1.171215
2000-03-07   -1.224070
2000-03-11    0.040962
2000-03-15   -1.188115
2000-03-19    2.069222
2000-03-23    1.942960
2000-03-27   -1.390430
2000-03-31    0.529016
Freq: 4D, dtype: float64

In [66]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.305201
2000-02-29   -0.246546
2000-03-31   -0.048959
dtype: float64

In [67]:
ts.resample('M', how='mean')

D:\Anaconda\folder\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2000-01-31   -0.305201
2000-02-29   -0.246546
2000-03-31   -0.048959
Freq: M, dtype: float64

### 时区处理

In [68]:
import pytz

In [69]:
pytz.common_timezones[:8]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul']

In [70]:
[x for x in pytz.common_timezones if x.find('Shanghai') != -1]

['Asia/Shanghai']

In [71]:
tz = pytz.timezone('Asia/Shanghai')
tz

In [72]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)

In [73]:
print ts.index.tz

None

In [74]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')
ts_utc = ts.tz_localize('UTC')     #时间序列本地化为某个具体的时区
ts_utc

2012-03-09 09:30:00+00:00   -0.862180
2012-03-10 09:30:00+00:00    0.817569
2012-03-11 09:30:00+00:00    1.660091
2012-03-12 09:30:00+00:00    1.044281
2012-03-13 09:30:00+00:00   -0.270521
2012-03-14 09:30:00+00:00   -0.970080
Freq: D, dtype: float64

In [75]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [76]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.862180
2012-03-10 04:30:00-05:00    0.817569
2012-03-11 05:30:00-04:00    1.660091
2012-03-12 05:30:00-04:00    1.044281
2012-03-13 05:30:00-04:00   -0.270521
2012-03-14 05:30:00-04:00   -0.970080
Freq: D, dtype: float64

In [77]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.862180
2012-03-10 14:30:00+00:00    0.817569
2012-03-11 13:30:00+00:00    1.660091
2012-03-12 13:30:00+00:00    1.044281
2012-03-13 13:30:00+00:00   -0.270521
2012-03-14 13:30:00+00:00   -0.970080
Freq: D, dtype: float64

In [78]:
ts_eastern.tz_convert('Asia/Shanghai')              #美国东部时间转为上海时间

2012-03-09 22:30:00+08:00   -0.862180
2012-03-10 22:30:00+08:00    0.817569
2012-03-11 21:30:00+08:00    1.660091
2012-03-12 21:30:00+08:00    1.044281
2012-03-13 21:30:00+08:00   -0.270521
2012-03-14 21:30:00+08:00   -0.970080
Freq: D, dtype: float64

In [79]:
ts_eastern.index

DatetimeIndex(['2012-03-09 09:30:00-05:00', '2012-03-10 09:30:00-05:00',
               '2012-03-11 09:30:00-04:00', '2012-03-12 09:30:00-04:00',
               '2012-03-13 09:30:00-04:00', '2012-03-14 09:30:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [80]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [81]:
ts

2012-03-09 09:30:00   -0.862180
2012-03-10 09:30:00    0.817569
2012-03-11 09:30:00    1.660091
2012-03-12 09:30:00    1.044281
2012-03-13 09:30:00   -0.270521
2012-03-14 09:30:00   -0.970080
Freq: D, dtype: float64

### 操作 Timezone-aware Timestamp 对象

In [82]:
stamp = pd.Timestamp('2019-05-15 14:32')
stamp_utc = stamp.tz_localize('utc')
stamp_utc

Timestamp('2019-05-15 14:32:00+0000', tz='UTC')

In [83]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2019-05-15 10:32:00-0400', tz='US/Eastern')

In [84]:
stamp_shanghai = pd.Timestamp('2019-05-15 14:32', tz='Asia/Shanghai')
stamp_shanghai

Timestamp('2019-05-15 14:32:00+0800', tz='Asia/Shanghai')

In [85]:
stamp_utc.value

1557930720000000000L

In [86]:
stamp_shanghai.value

1557901920000000000L

### 不同时区之间的运算

In [87]:
rng = pd.date_range('3/7/2018 9:30', periods=10, freq='B')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2018-03-07 09:30:00    0.428214
2018-03-08 09:30:00    0.277635
2018-03-09 09:30:00    0.475299
2018-03-12 09:30:00    0.348924
2018-03-13 09:30:00   -0.560368
2018-03-14 09:30:00    0.387741
2018-03-15 09:30:00    0.233117
2018-03-16 09:30:00   -0.576225
2018-03-19 09:30:00   -0.341045
2018-03-20 09:30:00    1.065988
Freq: B, dtype: float64

In [88]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2018-03-07 09:30:00+00:00    0.428214
2018-03-08 09:30:00+00:00    0.277635
2018-03-09 09:30:00+00:00    0.475299
2018-03-12 09:30:00+00:00    0.348924
2018-03-13 09:30:00+00:00   -0.560368
2018-03-14 09:30:00+00:00    0.387741
2018-03-15 09:30:00+00:00    0.233117
Freq: B, dtype: float64

In [89]:
ts2 = ts1[2:].tz_convert('Asia/Shanghai')
ts2

2018-03-09 17:30:00+08:00    0.475299
2018-03-12 17:30:00+08:00    0.348924
2018-03-13 17:30:00+08:00   -0.560368
2018-03-14 17:30:00+08:00    0.387741
2018-03-15 17:30:00+08:00    0.233117
Freq: B, dtype: float64

In [90]:
result = ts1 + ts2
result

2018-03-07 09:30:00+00:00         NaN
2018-03-08 09:30:00+00:00         NaN
2018-03-09 09:30:00+00:00    0.950598
2018-03-12 09:30:00+00:00    0.697848
2018-03-13 09:30:00+00:00   -1.120736
2018-03-14 09:30:00+00:00    0.775482
2018-03-15 09:30:00+00:00    0.466234
Freq: B, dtype: float64

In [91]:
result.index

DatetimeIndex(['2018-03-07 09:30:00+00:00', '2018-03-08 09:30:00+00:00',
               '2018-03-09 09:30:00+00:00', '2018-03-12 09:30:00+00:00',
               '2018-03-13 09:30:00+00:00', '2018-03-14 09:30:00+00:00',
               '2018-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

### 时期及其算术运算

In [92]:
p = pd.Period(2008, 'A-DEC')      # A-DEC  每年指定月份的最后一个日历日
p

Period('2008', 'A-DEC')

In [93]:
p + 10

Period('2018', 'A-DEC')

In [94]:
p - 3

Period('2005', 'A-DEC')

In [95]:
p_diff = pd.Period('2012', 'A-DEC') - p
p_diff

In [96]:
period_range = pd.period_range('1993', '2018', freq='Y')
period_range

PeriodIndex(['1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
             '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
             '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
             '2017', '2018'],
            dtype='period[A-DEC]', freq='A-DEC')

In [97]:
s = Series(np.random.randn(26), index=period_range)
s

1993   -0.434833
1994   -0.418355
1995   -0.376564
1996    0.005327
1997    1.711337
1998    0.191558
1999    1.317770
2000    2.030488
2001   -0.740017
2002   -0.610938
2003    1.136033
2004    2.553970
2005    0.236505
2006    0.247827
2007    0.687062
2008   -0.871971
2009    0.230028
2010    1.347211
2011    0.072239
2012    1.673255
2013    0.706557
2014   -0.795133
2015   -0.015141
2016   -0.248136
2017   -1.263493
2018   -0.359059
Freq: A-DEC, dtype: float64

In [98]:
values = ['2018Q1', '2018Q2', '2018Q3']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2018Q1', '2018Q2', '2018Q3'], dtype='period[Q-DEC]', freq='Q-DEC')

In [99]:
values = ['2018Q3', '2018Q4', '2019Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2018Q3', '2018Q4', '2019Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [100]:
p = pd.Period('2017', freq='A-DEC')     # A-DEC  每年指定月份的最后一个日历日

In [101]:
p.asfreq('M', how='start')

Period('2017-01', 'M')

In [102]:
p.asfreq('D', how='end')

Period('2017-12-31', 'D')

In [103]:
p = pd.Period('2017', freq='A-JAN')
p

Period('2017', 'A-JAN')

In [104]:
p.asfreq('M', 'start')

Period('2016-02', 'M')

In [105]:
p.asfreq('M', 'end')

Period('2017-01', 'M')

In [106]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2006    0.994887
2007   -1.639793
2008    0.952693
2009    0.408527
Freq: A-DEC, dtype: float64

In [107]:
ts.asfreq('M', how='start')

2006-01    0.994887
2007-01   -1.639793
2008-01    0.952693
2009-01    0.408527
Freq: M, dtype: float64

In [108]:
ts.asfreq('B', how='end')

2006-12-29    0.994887
2007-12-31   -1.639793
2008-12-31    0.952693
2009-12-31    0.408527
Freq: B, dtype: float64

###  按季度计算的时间频率

In [109]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [110]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [111]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [112]:
p4pm = (p.asfreq('B', 'end') - 1).asfreq('T', 'start') + 16 * 60    #获取该季度倒数第二个工作日下午四点的时间戳

In [113]:
p4pm

Period('2012-01-30 16:00', 'T')

In [114]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [115]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2011Q3   -0.219523
2011Q4    0.002716
2012Q1   -1.147526
2012Q2    1.940092
2012Q3    0.506122
2012Q4   -0.167881
Freq: Q-JAN, dtype: float64

In [116]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00   -0.219523
2011-01-28 16:00:00    0.002716
2011-04-28 16:00:00   -1.147526
2011-07-28 16:00:00    1.940092
2011-10-28 16:00:00    0.506122
2012-01-30 16:00:00   -0.167881
dtype: float64

### 将Timestamp 转换为Period

In [117]:
rng = pd.date_range('1/1/2016', periods=3, freq='M')
ts = Series(np.random.randn(3), index=rng)
ts

2016-01-31    1.413294
2016-02-29   -0.975860
2016-03-31   -0.468531
Freq: M, dtype: float64

In [118]:
pts = ts.to_period()
pts

2016-01    1.413294
2016-02   -0.975860
2016-03   -0.468531
Freq: M, dtype: float64

In [119]:
rng = pd.date_range('12/28/2009', periods=7, freq='D')
rng
ts2 = Series(np.random.randn(len(rng)), index=rng)
ts2

2009-12-28   -0.992126
2009-12-29   -0.071245
2009-12-30   -0.872182
2009-12-31   -1.041723
2010-01-01    0.384651
2010-01-02    1.325784
2010-01-03    0.334158
Freq: D, dtype: float64

In [120]:
ts2.to_period('M')

2009-12   -0.992126
2009-12   -0.071245
2009-12   -0.872182
2009-12   -1.041723
2010-01    0.384651
2010-01    1.325784
2010-01    0.334158
Freq: M, dtype: float64

In [121]:
pts2 = ts2.to_period()
pts2

2009-12-28   -0.992126
2009-12-29   -0.071245
2009-12-30   -0.872182
2009-12-31   -1.041723
2010-01-01    0.384651
2010-01-02    1.325784
2010-01-03    0.334158
Freq: D, dtype: float64

In [122]:
pts2.to_timestamp(how='end')

2009-12-28 23:59:59.999999999   -0.992126
2009-12-29 23:59:59.999999999   -0.071245
2009-12-30 23:59:59.999999999   -0.872182
2009-12-31 23:59:59.999999999   -1.041723
2010-01-01 23:59:59.999999999    0.384651
2010-01-02 23:59:59.999999999    1.325784
2010-01-03 23:59:59.999999999    0.334158
Freq: D, dtype: float64