# 《利用Python进行数据分析》1st Edition chapter 9

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [2]:
df = DataFrame({'key1':['a', 'a', 'b', 'b', 'a'], 
                'key2':[u'一', u'二', u'一', u'二', u'一'],
                'data1': np.random.randn(5),
                'data2': np.random.randn(5)})
df

      data1     data2 key1 key2
0  1.842079  2.063583    a    一
1  1.296779 -1.317640    a    二
2 -0.024882  0.775644    b    一
3 -0.161648  0.351918    b    二
4  2.564224  0.795516    a    一

In [3]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a    1.901028
b   -0.093265
Name: data1, dtype: float64

In [6]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [7]:
means

key1  key2
a     一       2.203152
      二       1.296779
b     一      -0.024882
      二      -0.161648
Name: data1, dtype: float64

In [8]:
means.unstack()

key2         一         二
key1
a     2.203152  1.296779
b    -0.024882 -0.161648

In [9]:
# 以上代码中分组标记均为Series对象，实际上分组键可以是任意长度适当的数组